*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.nav-links-list {
    display: flex;
    justify-content: space-around;
}

.restaurant-logo {
    margin: 0 0 0 1rem;
}

.home-nav, .menu-nav, .about-nav {
    margin: 0 1rem 0 0;
    height: 100%;
}